<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head/meta.html" . }}
  <title>Orbitor - Software Company Template</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  {{ partial "head/styles.html" . }}
</head>

<body>

	{{ partial "header/navbar.html" . }}

	<!-- Slider Start -->
	{{ partial "home_banner.html" .Site.Params.home_banner }}
	{{ partial "home_about.html" .Site.Params.home_about }}

<section class="section process">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="process-block pl-4">
					<span class="text-uppercase text-sm letter-spacing">Выбирай нашу</span>
					<h2 class="mb-4 mt-3">Команду профессионалов</h2>
					<p class="mb-4">Специалисты PicLab готовы выполнить полный цикл работ по цифровой трансформации вашего бизнеса.</p>
				</div>
			</div>

			<div class="col-lg-7 col-xs-12 col-md-12">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mb-4 mb-lg-0">
							<i class="ti-light-bulb"></i>
							<h5>Специалисты по обработке данных</h5>
							<!-- <p>A complete web app solution for business</p> -->
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mt-4 mb-4 mb-lg-0">
							<i class="ti-panel"></i>
							<h5>Специалисты по компьютерному зрению</h5>
							<!-- <p>A complete web app solution for business</p> -->
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center">
							<i class="ti-search"></i>
							<h5>Программисты для разных платформ</h5>
							<!-- <p>A complete web app solution for business</p> -->
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="icon-block text-center mt-4">
							<i class="ti-rocket"></i>
							<h5>Бизнес-аналитики</h5>
							<!-- <p>A complete web app solution for business</p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section cta">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="cta-content bg-white p-5 rounded">
					<h3 class="mb-4">Сочетание науки и бизнеса</h3>
					<p class="mb-30">Компания PicLab работает в кооперации с «<a href="https://demid.ai">Центром искусственного интеллекта и цифровой экономики</a>» Ярославского государственного университета им.&nbspП.Г.&nbspДемидова</p>

					<!-- <a href="project.html" class="btn btn-main">Portfolio<i class="fa fa-angle-right ml-2"></i></a> -->
				</div>
			</div>
		</div>
	</div>
</section>

<!-- section portfolio start -->
<section class="section portfolio pb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="heading">
					<h2 class="mb-4">Посмотрите на проекты, которые мы уже реализовали</h2>
					<p>PicLab имеет опыт взаимодействия с госсектором и крупными коммерческими структурами.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row portfolio-gallery">
			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="project-details.html">
						<img src="images/portfolio/1.jpg" alt="" class="img-fluid w-100">
						<div class="overlay-item"><i class="ti-link"></i></div>

						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Медицина</h3>
							<p class="text-white-50">Системы поддержки принятия решения в эндоскопии.</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="project-details.html">
						<img src="images/portfolio/2.jpg" alt="" class="img-fluid w-100">
						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Промышленность</h3>
							<p class="text-white-50">Детектирование и распознавание объектов.</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="project-details.html">
						<img src="images/portfolio/3.jpg" alt="" class="img-fluid w-100">

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Интеллектуальное видеонаблюдение</h3>
							<p class="text-white-50">Анализ видеоданных в реальном времени</p>
						</div>
					</a>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="project-details.html">
						<img src="images/portfolio/4.jpg" alt="" class="img-fluid w-100">

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Лицевая биометрия</h3>
							<p class="text-white-50">Проект «27faces»</p>
						</div>
					</a>
				</div>
			</div>

			<!-- <div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative  mb-4">
					<a href="project-details.html">
						<img src="images/portfolio/5.jpg" alt="" class="img-fluid w-100">

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div> -->

			<!-- <div class="col-lg-4 col-md-6">
				<div class="portflio-item position-relative mb-4">
					<a href="project-details.html">
						<img src="images/portfolio/6.jpg" alt="" class="img-fluid w-100">

						<div class="overlay-item">
							<i class="ti-link"></i>
						</div>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div> -->
		</div>
	</div>
</section>

<!-- section portfolio END -->
<!-- section Counter Start -->
<section class="section counter">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">15</span>+</h2>
					<p>Специалистов</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">5</span>+</h2>
					<p>Кандидатов наук</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">20</span>+</h2>
					<p>Реализованных проектов</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">5</span></h2>
					<p>Программных продуктов</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section Counter End  -->
<!-- <section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="heading">
					<h2 class="mb-4">What they say about us</h2>
					<p>They are truely amazing in the industry ,molestiae expedita aspernatur officia, similique minima laudantium. Corrupti ipsa perspiciatis commodi nesciunt rerum mollitia enim voluptate!</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 testimonial-wrap">
				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>

				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial2.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial2.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						Maiores quasi placeat harum itaque, ducimus cumque quas expedita hic. Qui ullam iste provident mollitia expedita facilis fuga repellat.
					</p>

					<div class="client-info d-flex align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="" class="img-fluid">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<h3>PicLab</h3>
					</div>
					<p>Технологии искусственного интеллекта.</p>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Компания</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Главная</a></li>
						<li><a href="#">Как мы работаем</a></li>
						<li><a href="#">Команда</a></li>
						<li><a href="#">Партнёры</a></li>
						<li><a href="#">Проекты</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-7 col-md-12 col-sm-12">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Как связаться</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="mailto:connect@piclab.ru">connect@piclab.ru</a> — электронная почта PicLab.</li>
						<li>Проекты развиваются при поддержке<a href="http://fasie.ru"> Фонда содействия инновациям.</a></li>
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Get in Touch</h4>
					<h6><a href="tel:+23-345-67890" > <i class="ti-headphone-alt mr-3"></i>Support@megakit.com</a></h6>
					<h6><a href="mailto:support@gmail.com" > <i class="ti-mobile mr-3"></i>+23-456-6588</a></h6>

					<ul class="list-inline footer-socials mt-5">
						<li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="ti-facebook mr-2"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="ti-twitter mr-2"></i></a></li>
						<li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="ti-linkedin mr-2 "></i></a></li>
					</ul>
				</div>
			</div> -->
		</div>

		<div class="footer-btm py-4 mt-5">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; PicLab 2020
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

	{{ partial "footer/scripts.html" . }}


</body>
</html>
